* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: cursive;
  font-weight: 300;
  text-shadow: 1px 1px 1px white;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: rgb(185, 174, 174);
  width: 100%;
  height: 5.5rem;
  z-index: 222;
}
.nav__logo {
  padding: 5px;
}
.logo {
  margin-top: 7px;
  width: 12rem;
}
.nav__brand__item {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  margin-top: 7px;
  font-size: 0.8rem;
}
.nav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__button li {
  display: flex;
  justify-content: space-between;
  background-color: #f8d061;
  margin-right: 50px;
  padding: 10px 25px 10px 25px;
  border-radius: 3px;
  transition: 0.8s;
}
.nav__button li:hover {
  padding: 10px 32px 10px 32px;
  background-color: orange;
  transition: all 0.8 ease-in-out;
  letter-spacing: 2px;
  cursor: pointer;
}
.hero__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 10rem;
  padding-left: 18%;
  margin-right: 18%;
}
.hero__image__container {
  position: relative;
  width: 40rem;
}
.hero__image {
  width: 100%;
  border-radius: 5px;
}
.hero__image__container::before {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  content: "";
  transform: translate(1rem, 1rem);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.descripition {
  display: flex;
  flex-direction: column;
}
.hero__text {
  padding-top: 15%;
  font-size: 2.3rem;
  color: #fc8019;

  line-height: 1.5;
}
.primary__button {
  margin-top: 5px;
  padding: 15px 20px 15px 20px;
  background-color: #f8d061;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: 0.5s;
}
.primary__button:hover {
  padding: 15px 23px 15px 23px;
  background-color: #fc8019;
  transition: all 0.5 ease-in-out;
  letter-spacing: 2px;
  cursor: pointer;
}
.vedio__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.iframe {
  width: 23rem;
  height: 20rem;
}
.swiggy__vedio {
  position: relative;
}
.swiggy__vedio::before {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  content: "";
  transform: translate(1rem, 0.8rem);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.vedio__text {
  font-size: 2.3rem;
  color: #fc8019;
}
.menu__section {
  position: relative;
  margin: 8rem 0;
}

.food__menu__cad__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 3%;
  margin-top: 1rem;
}
.menu__card__image {
  border-radius: 4px 4px 0 0;
  width: 100%;
}
.menu__card {
  flex-basis: 25%;
  background-color: white;
  box-shadow: 1px 1px 1px orange;
  border-radius: 0px 0px 4px 4px;
}
.menu__card__image__detail {
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.menu__card__title {
  font-size: 20px;
}
.menu__container__title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
.food__menu__container {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  position: absolute;
  width: 100%;
  height: 118%;
  transform: skewY(-4deg);
  z-index: -2;
}
.view__more {
  margin-top: -6rem;
}
.view__more__btn {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  width: 40%;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.5s;
  border-radius: 3px;
}
.view__more__btn:hover {
  background-image: linear-gradient(to right, white 0%, white 0%, white 100%);
  width: 55%;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.restaurant__container {
  margin-top: 15rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.restaurant__image__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.restaurant__row1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.restaurant__row2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
}
.restaurant1,
.restaurant3 {
  border-radius: 4px;
  margin: 0 5px;
  width: 300px;
  height: 180px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant2,
.restaurant4 {
  border-radius: 4px;
  margin: 0 5px;
  width: 200px;
  height: 150px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.input__box {
  margin-top: 10px;
  width: 16rem;
  height: 1.8rem;
  font-family: cursive;
  font-size: 1.2rem;
  border-radius: 5px;
}
.search {
  display: flex;
  flex-direction: column;
}
.res__text {
  font-size: 2.5rem;
  color: #fc8019;
}

.secondary__btn {
  margin-top: 1rem;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  transition: 0.2s;
  font-size: 1.3rem;
  cursor: pointer;
}
.secondary__btn:hover {
  transition: all 0.2s ease-in;
  width: 8.3rem;

  letter-spacing: 2px;
}
.update__section {
  margin-top: 10rem;
}
.update__content {
  display: flex;
  justify-content: center;
}
.update__text {
  font-size: 2.8rem;
  color: #fc8019;
}
.update__btn {
  margin: 8px 0 0 10px;
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;
}
.update__btn:hover {
  transition: all 0.2s ease-in;
  width: 7.8rem;
}

.footering {
  margin-top: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    orange 51%,
    #fc8019 100%
  );
}
.footering__list li {
  list-style: none;
  line-height: 2;
}
.footering__list li a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.logo__text {
  font-family: Proxima Nova;
  color: white;
}

@media screen and (max-width: 770px) {
  .navbar {
    height: 5rem;
  }
  .nav__logo {
    padding: 2px;
  }
  .logo {
    margin-top: 5px;
    width: 7rem;
  }
  .nav__brand__item {
    margin-top: 13px;
    padding-left: 2px;
  }
  .nav__button li {
    display: flex;
    margin-right: 8px;
    padding: 3px 8px 3px 8px;
  }
  .nav__button li:hover {
    padding: 4px 10px 4px 10px;
  }
  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    margin-right: 5%;
  }
  .hero__image__container::before {
    display: none;
  }
  .hero__text {
    padding-top: 7%;
    font-size: 1.5rem;

    line-height: 1.5;
    margin-right: 2%;
  }
  .hero__image__container {
    width: 100%;
    margin-top: 3.5rem;
    margin-right: 16%;
    box-shadow: 3px 3px 3px #fc8019;
  }
  .primary__button {
    margin-top: 20px;
    padding: 8px 8px 8px 8px;
  }
  .primary__button:hover {
    padding: 9px 9px 9px 9px;
  }
  .vedio__container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .iframe {
    width: 18rem;
    height: 18rem;
  }
  .swiggy__vedio {
    margin-top: 18%;
    box-shadow: 3px 3px 3px #fc8019;
  }
  .swiggy__vedio::before {
    display: none;
  }
  .vedio__text {
    font-size: 1.8rem;
  }
  .menu__section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .food__menu__container {
    display: none;
  }
  .food__menu__cad__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__container__title {
    font-size: 1.8rem;
    color: #fc8019;
  }
  .menu__card {
  }

  .menu__card__move__up {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .view__more__btn {
    margin-bottom: 1rem;
    width: 90%;
    border-radius: 10px;
    transition: 0.5s;
  }
  .view__more__btn:hover {
    width: 100%;
  }
  .restaurant__container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    line-height: 2;
  }
  .restaurant__image__container {
    margin-top: 3rem;
    justify-content: center;
  }
  .restaurant1,
  .restaurant3 {
    margin: 0 3px;
    width: 160px;
    height: 110px;
  }
  .restaurant2,
  .restaurant4 {
    width: 110px;
    height: 100px;
    margin: 0 3px;
  }
  .res__text {
    font-size: 1.3rem;
  }
  .secondary__btn {
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  .secondary__btn:hover {
    width: 7.3rem;
    letter-spacing: 2px;
  }

  .update__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .update__btn {
    margin-top: 10px;
    height: 2rem;
    margin-right: 12%;
  }

  .footering__list li {
    font-size: 1rem;
  }
  .logo__text {
    font-size: 1.5rem;
  }
}
/* @media screen (min-width:280px) 
{
  .nav__button li {
    display: flex;
    margin-right:2px;
    padding: 2px 5px 2px 5px;
  }
  .nav__button li:hover {
    padding: 4px 10px 4px 10px;
  }
} */
